html {
  scroll-behavior: smooth;   /* active le scroll fluide */
  /*scroll-padding-top: 70px;   hauteur de ton header sticky */
 
}


body {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  color: #fff;
  line-height: 1.6;
  min-height: 200vh; /* au moins deux fois la hauteur de l'écran pour tester le scroll */
  position: relative;
  background: radial-gradient(circle at 25% 25%, #00102c, #0d47a1, #1976d2, #1ca9c9, #3a6ea5);
  background-size: 400% 400%;
  animation: gradientMove 20s ease infinite;
}

@keyframes gradientMove {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}
/*add stars */
body::before {
  content: "";
  position:absolute;
   inset: 0;
  z-index: -1;
  background-image:
    radial-gradient(2px 2px at 10px 10px, #fff, transparent),
    radial-gradient(1px 1px at 30px 30px, #b0e0ff, transparent),
    radial-gradient(1px 1px at 50px 70px, #cce5ff, transparent),
    radial-gradient(2px 2px at 90px 90px, #fff, transparent),
    radial-gradient(1px 1px at 150px 120px, #e0ffff, transparent);
    background-size: 200px 200px;
  animation: starsTwinkle 3s ease-in-out infinite alternate;

}
@keyframes starTwinkle {
  from{opacity:0.6; filter:blur(0px);}
  to{opacity:1; filter:blur(1px);}
}
/* Grandes étoiles rayonnantes */
.big-stars {
  position: absolute;
  inset: 0;
  z-index: -1;
  /*pointer-events: none;*/
}

.star {
  position: absolute;
  left: var(--x);
  top: var(--y);
  width: calc(var(--size) * 1px);
  height: calc(var(--size) * 1px);
  border-radius: 50%;
  background: radial-gradient(circle, #fff 0%, rgba(255,255,255,0.3) 70%, transparent 100%);
  box-shadow: 0 0 20px 5px rgba(255,255,255,0.5);
  transform: translate(-50%, -50%);
  animation: starPulse var(--pulse) ease-in-out infinite;
}

.star::after {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) rotate(var(--rot));
  width: 200%;
  height: 200%;
  background: linear-gradient(90deg, rgba(255,255,255,0.8), transparent);
  opacity: 0.6;
  filter: blur(1px);
}

@keyframes starPulse {
  0%   { opacity: 0.7; transform: translate(-50%,-50%) scale(0.9); }
  50%  { opacity: 1; transform: translate(-50%,-50%) scale(1.1); }
  100% { opacity: 0.7; transform: translate(-50%,-50%) scale(0.9); }
}

/* Etoiles filantes */
.shooting-stars {
  position: absolute;
  inset: 0;
  overflow: hidden;
  z-index: 2;
  pointer-events: none;
}

.shooting-stars, .shooting-stars * {
  pointer-events: none;
}

.shoot {
  position: absolute;
  width: 2px;
  height: 120px;
  background: linear-gradient(to bottom, rgba(255,255,255,1), rgba(255,255,255,0));
  transform: rotate(-25deg);
  opacity: 0;
  animation: shoot var(--dur) linear infinite;
  animation-delay: var(--delay);
}

@keyframes shoot {
  0%   { opacity: 0; transform: translate(0,0) rotate(-25deg); }
  10%  { opacity: 1; }
  100% { opacity: 0; transform: translate(-120vw, 80vh) rotate(-25deg); }
}



header {
  font-family: 'Poppins', sans-serif;
  width: 100%;
  background: transparent;
  position: sticky;    
  top: 0;
  z-index: 1000;
  
}

/* ===== Navbar ===== */
header nav {
  max-width: 1200px;   /* largeur max centrée */
  margin: 0 auto;
  padding: 15px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav a {
  margin: 0 15px;
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  cursor: pointer;
  transition: background 0.5s ease, color 0.3s ease, transform 0.2s ease, font-size 0.2s ease;
  font-size: 15px;
  position: relative;
}

nav a:hover {
  color: #fff;
  transform: translateY(8px);
  font-size: 17px; /* le texte grandit */
}

nav a::after {
  content: "";
  position: absolute;
  width: 0%;
  height: 2px;
  left: 0;
  bottom: -4px;
  background: #033d80;
  transition: width 0.3s ease;
}

nav a:hover::after {
  width: 80%;
}
.py-4 {
    padding-top: 1rem;
    padding-bottom: 1rem;
}
.px-6 {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}
.mx-auto {
    margin-left: auto;
    margin-right: auto;
}
.min-h-screen {
    min-height: 100vh;
    /*background-color: rgb(4, 4, 63);*/
    color: white;
}
.btn{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  
}
.btn-row, .icon-row{
  display: flex;
  justify-content: center;
  gap: 16px;
}

.btn button {
  padding: 10px 20px;
  border: none;
  border-radius: 8px;
  background-color: #0073b1; /* bleu style LinkedIn */
  color: white;
  cursor: pointer;
  transition: background-color 0.2s;
}

.btn button:hover {
  background-color: #005582;
}

/* Sections */
html {
  scroll-behavior: smooth;
}

section {
  min-height: 90vh;         
  max-width: 900px;
  margin: auto;
  padding: 60px 20px;       
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;    
  scroll-margin-top: 10px;    
}
h2 {
  font-family: 'Poppins', sans-serif; 
  font-size: 1.9rem; 
  font-weight: 700; 
  color: #fff;
  text-shadow: 0 0 10px rgba(16, 18, 19, 0.6);
  letter-spacing: 0.4px;
  margin-bottom: 30px;
  text-align: center;
  transition: color 0.3s ease transform 0.3s ease-in-out, text-shadow 0.3s ease;
  font-style: italic;
}
h2:hover{
color: #1976d2;
transform: scale(1.5);
text-shadow: 0 0 15px rgba(28, 169, 201, 0.6);
}


/* Projets */

#projects {
  padding: 50px 30px;
  margin-top: 40px;
  text-align: center;
}


/* CONTENEUR SCROLL HORIZONTAL */
.projects-container {
  display: flex;
  gap: 20px;
  overflow-x: auto;
  scroll-behavior: smooth;
  padding-bottom: 15px;
}

/* Scrollbar custom */
.projects-container::-webkit-scrollbar {
  height: 10px;
}
.projects-container::-webkit-scrollbar-track {
  background:#190877;

  border-radius: 10px;
}
.projects-container::-webkit-scrollbar-thumb {
  color: #e8e6f1;
  border-radius: 10px;
}

/* STYLE DES CARTES (sans background blanc) */
.project {
  min-width: 320px;
  max-width: 350px;
  border-radius: 15px;
  padding: 15px;
  flex-shrink: 0; /* indispensable pour le scroll horizontal */
  transition: transform 0.3s ease, box-shadow 0.3s ease;

}

.project:hover {
  transform: translateY(-8px);
  box-shadow: 0 6px 18px rgba(0,0,0,0.2);
}

.project img {
  width: 100%;
  border-radius: 10px;
  margin-bottom: 10px;
}

.project p {
  font-size: 0.95rem;
  color: #333;
  line-height: 1.4;
}


 strong {
  color: #190877;;
}

.project a {
  display: inline-block;
  margin-top: 8px;
  color: #fff;;
  font-weight: bold;
  text-decoration: none;
}

.project a:hover {
  color: #000;
}

/* Footer */
footer {
  text-align: right;
  padding: 15px;
  background: transparent;
  color: #fff;
  margin-top: 30px;
  box-shadow: 0 0 15px rgba(0, 114, 255, 0.6);

}

/* Bouton clair/sombre (optionnel) */
button {
  padding: 10px 15px;
  border: none;
  border-radius: 50px;
  background: #185a9d;
  color: white;
  cursor: pointer;
  margin-top: 10px;
}

button:hover {
  background: #666;
}

/* ===== Logo ===== */
.logo {
  font-size: 23px;
  font-weight: 900;
  letter-spacing: 2px;
  margin: 0;
  cursor: pointer;
  background: #fff;
  text-shadow: 0 2px 6px rgba(0,0,0,0.7);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: transform 0.3s ease, text-shadow 0.3s ease, background-position 1.5s ease;
  
}

/* Effet au survol */
.logo:hover {
  transform: scale(1.2) rotate(-2deg);
  text-shadow: 0 0 10px rgba(66, 165, 245, 0.4),
               0 0 20px rgba(25, 118, 210, 0.3);
  background-position: 100%; /* le dégradé se déplace */
}

/*mon nom dans le home */


/* SECTION HOME */
#home {
  
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  text-shadow: 0 2px 6px rgba(0,0,0,0.7);
  color: white;
  padding: 50px 30px;
  margin-top: 25px;
  border-radius: 20px; 
  position: relative;
  overflow: hidden;
}

/* TITRE PRINCIPAL */
#home h1 {
  font-size: 2.8rem;
  margin-bottom: 10px;
}

#home h1 .logo {
  font-weight: bold;
  font-size: 3rem;
  background: linear-gradient(90deg, #00c6ff, #0072ff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-shadow: 0 0 20px rgba(0, 114, 255, 0.6);
}

/* Sous-titre */
#home h2 {
  font-size: 1.5rem;
  font-weight: 400;
  margin: 5px 0;
  color: white; 
}

#home h2:hover {
 background: linear-gradient(60deg, #00c6ff, #0072ff);
  -webkit-background-clip: text;
  text-shadow: 0 0 20px rgba(2, 22, 46, 0.8);

}

/* BOUTONS */
#home .btn-row {
  margin-top: 25px;
  display: flex;
  gap: 20px;
}

#home button {
  padding: 12px 25px;
  font-size: 1rem;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  transition: all 0.3s ease;
}

#home .download {
  background: linear-gradient(90deg, #0072ff, #00c6ff);
  color: white;
  font-weight: bold;
}

#home .download:hover {
  transform: scale(1.5);
  box-shadow: 0 0 15px rgba(0, 114, 255, 0.6);
}

#home .btn {
  display: flex;
  flex-direction: column;
  align-items: center; /* centre horizontalement */
  gap: 20px; /* espace entre logo, boutons et icônes */
}

#home .btn .logo {
  font-size: 40px;
  font-weight: 900;
  display: block;
  text-align: center;
  margin: 0 auto;
  background: linear-gradient(90deg, #00c6ff, #0072ff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* ICONES */
#home .icon-row {
  margin-top: 0px;
  display: flex;
  gap: 25px;
 
}

#home .icon-row img {
  width: 38px;
  height: 38px;
  transition: transform 0.3s ease, filter 0.3s ease;
  
}

#home .icon-row img:hover {
  transform: scale(1.2);
  filter: drop-shadow(0 0 10px #00c6ff);
}

p {
  margin: 0 0 20px 0;   
}

/*the hand hi*/
.wave {
  display: inline-block;
  transform-origin: 70% 70%; /* point de rotation (bas de la main) */
  transition: transform 0.3s;
}

.wave:hover {
  animation: wave-animation 1s infinite;
}

@keyframes wave-animation {
  0% { transform: rotate(0deg); }
  15% { transform: rotate(14deg); }
  30% { transform: rotate(-8deg); }
  45% { transform: rotate(14deg); }
  60% { transform: rotate(-4deg); }
  75% { transform: rotate(10deg); }
  100% { transform: rotate(0deg); }
}


#about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
  padding: 50px 30px;
  margin-top: 40px;
}

/* Texte About */
#about p {
  max-width: 750px;
  font-size: 16px;
  line-height: 1.6;
  margin-bottom: 30px;
  text-shadow: 1px 1px 5px rgba(0,0,0,0.9);
}
/* Texte Skills */
#skills {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
  padding: 50px 30px;
  margin-top: 40px;
  
}

#skills ul li {
  padding: 12px 6px;
  border-radius: 25%;
  max-width: 750px;
  font-size: 16px;
  line-height: 0.6;
  font-weight: 500;
  margin-bottom: 30px;
  text-shadow: 1px 1px 5px rgba(0,0,0,0.4);
  transition: background 0.5s ease, color 0.3s ease, transform 0.2s ease, font-size 0.2s ease;
  font-size: 15px;
  position: relative;
  
}

#skills ul li:hover {
  transform: translateY(-15px) scale(1.2);
  background: rgba(255, 255, 255, 0.3);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.35);
}

#skills ul {
  list-style: none; /* supprime les puces */
  padding: 0;       /* enlève l’espace à gauche */
  margin: 0;        /* enlève la marge par défaut */
  
  
}
.mypicture{
  border-radius: 50%;
  width: 180px;
  height: 200px;
  margin: 0px auto;
  border: 2.5px solid #00c6ff;
  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.9);
  object-fit: cover;
  animation: sway 4s ease-in-out infinite;
  
}
@keyframes sway {
  0% { transform: rotate(0deg); }
  50% { transform: rotate(6deg); }
  100% { transform: rotate(0deg); }
}
/*Section contact*/
#contact{
 
 display: flex;
 flex-direction: column;
 justify-content: center;
 text-align: center;
 color: #f0f0f0;
 padding: 50px 30px;
  margin-top: 40px;
 border-radius: 20px;
 
}

#contact h3{
  font-size: 18px;
  padding-top: 30px;
  padding-bottom: 30px;
   text-shadow: 1px 1px 6px rgba(0, 0, 0, 0.4);
   color: #f1faee;
}
.contact-item {
  gap: 20px;
  line-height: 36px;
}
.contact-item i {
  gap: 20px;
  line-height: 36px;
}

.contact-item span {
  margin-left: 10px;
  color: #f0f0f0;
  font-weight: 200;
}
/* icon de contact*/
.icon-row{
  gap: 16px;
}
.icon-row a img{
  border-radius: 20%;
  /*transition:cubic-bezier(0.47, 0, 0.745, 0.715);
  box-shadow: 3px 4px 10px rgba(0,0,0,0.3);*/
  width: 35px;
  height: 35px;
 transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.icon-row a img:hover {
  transform: scale(1.3) rotate(20deg);
  box-shadow: 0 6px 20px rgba(0,0,0,0.5), 0 0 10px rgba(255,255,255,0.6);
}
#cv {
   display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
  padding: 50px 30px;
  margin-top: 40px;
  border-radius: 20px;
  
}

/*icones de cv */
#cv button {
  padding: 12px 25px;
  border: none;
  border-radius: 25px;
  font-size: 15px;
  font-weight: bold;
  cursor: pointer;
  background: white;
  color: #0d47a1;
  transition: all 0.3s ease;
  box-shadow: 0 5px 15px rgba(0,0,0,0.3);
}

#cv button:hover {
  transform: translateY(-3px) scale(1.05);
  background: #42a5f5;
  color: white;
  box-shadow: 0 8px 20px rgba(0,0,0,0.4);
}
/*certificats*/
/* Section Certificates */
#certificats {
  
  padding: 50px 30px;
  margin-top: 40px;
  text-align: center;
  color: white;
  
}


/* Conteneur flex */
.cert-container {
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
  justify-content: center;
}

/* Cartes de certificats */
.cert-card {
  background: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(10px);
  border: 1px solid rgba(28, 169, 201, 0.4);
  border-radius: 15px;
  padding: 25px 20px;
  width: 280px;
  text-align: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease, border 0.3s;
  box-shadow: 0 5px 15px rgba(0,0,0,0.3);
}

/* Effet au survol */
.cert-card:hover {
  transform: translateY(-8px) scale(1.3);
  border: 1px solid #1ca9c9;
  
}

/* Titres des certificats */
.cert-card h3 {
  
  font-size: 1.2rem;
  color: #fff;
  margin-bottom: 8px;
}

/* Organisme */
.cert-card p {
  font-size: 0.95rem;
  color: #0c2bb3;
  margin-bottom: 6px;
  font-style: italic;
}

/* Date */
.cert-card span {
  font-size: 0.85rem;
  color: #0e0101;
}
/*education*/

#education {
  
  color: #f8fafc; /* Presque blanc */
  padding: 50px 30px;
  margin-top: 40px;
  border-radius: 16px;
  margin: 50px auto;
  font-family: "Poppins", sans-serif;
  text-align: center;
}

/* Chaque diplôme */
#education h3 {
  font-size: 1.4rem;
  color: #fff;
  margin-bottom: 8px;
  font-weight: 600;
  transition: color 0.3s ease;
}

#education h3:hover {
  color: #38bdf8;
}

/* Université */
#education p {
  font-size: 1rem;
  color: #94a3b8; /* gris moderne */
  margin-bottom: 6px;
  font-style: italic;
}

/* Dates */
#education span {
  display: inline-block;
  background: linear-gradient(135deg,#00aee6,#005ecc);
  padding: 6px 14px;
  border-radius: 12px;
  font-size: 0.9rem;
  font-weight: 500;
  color: #38bdf8;
  margin-bottom: 30px;
  box-shadow: inset 0 0 6px rgba(56, 189, 248, 0.3);
}
/*experience*/

#experience {
  
  color: #111827;
  border-radius: 16px;
  padding: 50px 30px;
  margin-top: 40px;
}


/* Container global */
#experience .flex {
  background: linear-gradient(135deg,#4facfe,#00f2fe);
  border-radius: 14px;
  padding: 25px 30px;
  margin-bottom: 25px;
  box-shadow: 0 6px 20px rgba(0,0,0,0.08);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

/* Effet hover moderne */
#experience .flex:hover {
  transform: translateY(-6px);
  box-shadow: 0 12px 28px rgba(0,0,0,0.12);
}

/* Titre poste */
#experience h3 {
  font-size: 1.3rem;
  font-weight: 600;
  margin-bottom: 8px;
  color: #1e293b;
}

/* Date */
#experience h3 span {
  display: block;
  font-size: 0.95rem;
  font-weight: 500;
  color: #fff;
  margin-top: 6px;
}

/* Description */
#experience p {
  font-size: 1rem;
  color: #475569;
  line-height: 1.6;
  margin-top: 5px;
}

/**************/
h3 {
  font-size: 1.4rem;
  font-weight: 600;
  margin-bottom: 12px;
  text-align: center;
  background: linear-gradient(90deg, #0d47a1, #1976d2, #1ca9c9);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: transform 0.3s ease, opacity 0.3s ease;
}

h3:hover {
  transform: scale(1.05);
  opacity: 0.9;
}

/*mode dark*/

body.dark {
  background: #121212; 
  color: #f5f5f5;
  
}
body.dark #home .logo {
  color: rgba(56,189,248,0.5);
}

body.dark header,
body.dark footer {
  background: transparent; /* un peu plus foncé que #555454 pour bien contraster */
  
}

body.dark nav a {
  color: #f5f5f5;
  
  
}

body.dark h2 {
  color: whitesmoke; 
  text-shadow: 0 0 10px #033564, #090b8b, #1107a3;
}
body.dark h3 {
  color: #f1f5f9;
}


body.dark #home h2 {
  color: whitesmoke; /* bleu clair */
}
/*Back home*/
.back-to-home {
  font-size: 14px;
  text-decoration: none;
  margin-top: 12px;   /* distance du bas */
  left: 20px;  
  color: #fff;
  border-radius: 50px;
   padding: 10px 15px;
   background: #333;
   transition: backgroud ease 0.3s;

}
.back-to-home:hover{
  background:rgba(56,189,248,0.5);
}

/* ---------- NAVIGATION RESPONSIVE ---------- */

/* Masque le bouton burger par défaut */
.menu-toggle {
  display: none;
  font-size: 1.8rem;
  color: white;
  cursor: pointer;
}

/* Cache les liens du menu quand on est en petit écran */
@media (max-width: 768px) {
  nav {
    position: relative;
    flex-direction: column;
    align-items: flex-start;
  }

  .menu-toggle {
    display: block;
    position: absolute;
    right: 20px;
    top: 20px;
  }

  nav a {
    display: none;
    width: 100%;
    text-align: left;
    padding: 10px 0;
  }

  /* Quand le menu est ouvert */
  nav.active a {
    display: block;
  }

  .toggleBtn {
    position: absolute;
    right: 60px;
    top: 15px;
  }
}
/* card skills*/
.skills-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* 2 cards par ligne */
  gap: 5px;
  justify-items: center;
}

.skill-card {
  background: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(10px);
  border: 1px solid rgba(28, 169, 201, 0.4);
  border-radius: 15px;
  padding: 25px 20px;
  width: 280px;
  text-align: center;

  box-shadow: 0 5px 15px rgba(0,0,0,0.3);
 

  /* 👇 Ajout pour l’animation de glissement */
  opacity: 0;
  transform: translateX(-60px);
  transition: transform 0.8s ease-out, opacity 0.8s ease-out;
}

.skill-card.visible {
  opacity: 1;
  transform: translateX(0);
}

.skill-card:hover {
  transform: translateY(-8px) scale(1.3);
  border: 1px solid #1ca9c9;
  z-index: 10;
}

.skill-card h3 {
  color: #007bff;
  font-size: 1.2rem;
  margin-bottom: 10px;
}

.skill-card p {
  color: #fff;
  font-size: 0.95rem;
  line-height: 1.4;
}

@media (max-width:700px){
  .skills-grid {
    grid-template-columns: 1fr; /* 1 card par ligne sur mobile */
  }
}
.name{
  margin-right: 70px;
}












